@import "tailwindcss";


.cl-avatarBox{
    height: 3rem;
    width: 3rem;
}
.arrows{
    height: 50px;
    width: 50px;
    margin: 1px;
}
input{
    background-color: #ffff;
    accent-color: red;
    border: 1px solid #ccc;
    color: #333;
}